body{
    background-color:#ffefeb;
    font-family: monospace;
    
}


.link{
  
    color: #2d64e3;
}

.link:hover{

    color: #141876;
}


p {
    
font-size: 17px;
padding-top: 20px;
padding-right:20px;

}

h2 {
    text-decoration: underline;
    font-size: 37px;
    color: black;
}


